@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 32px 99px;
}